*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: url(../img/fundo-topo.jpg);
    text-align: center;
    padding: 10px 0;
}
header h1{
    margin: 0;
    height: 84px;
}
nav{
    padding: 15px 0;
    text-align: center;
}
nav li{
    text-decoration: none;
    border: 1px solid white;
    display: inline;
    background-image: url(../img/patinha-preta.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 27px;
    margin-right: 10px;
}
nav a{
    text-decoration: none;
    color: #000;
}
nav a:hover{
    color: #6dd432;

}
h2{
    text-transform: uppercase;
    margin-bottom: 15px;
}
/*Especifico (#id)*/
#itemContato{
    background-image: none;
    padding-right: 0;
    margin-right: 0;
}
#produto.flex-container{
    margin-top: 53px;
}
.fundo-verde{
    background-color: #6dd432;
}
.container{
    width: 900px;
    margin: 0 auto;
    padding: 56px 0;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
}
.flex-container .col{
    width: 430px;
}
.produto{
    width: 235px;
}
.produto figure{
    border: 1px solid #c4c4c4;
    background-color: #fff;
    margin: 0 0 15px 0;
    padding: 0;
    text-align: center;
    height: 160px;
}
.produto figure img{
    vertical-align: middle;
}
.texto-centralizado{
    text-align: center;
}
.btn-pata{
    border: 1px solid #91e467;
    background-color: #d2fbbd;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    color:#000
}
/*grupos de elementos diferentes*/

form{
    width: 360px;
    border: 1px solid #6dd432;
    max-width: 360px;
    padding: 30px;
    border-radius: 8px;
}
form input,
form textarea{
    
    width: 100%;
    border: 1px solid #6dd432;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
}
iframe{
    width: 100%;
    border: none;
    border-radius: 8px;
    height: 400px;
}
.flex-container{
    display:flex;
    justify-content: center;
    align-items: flex-start;
}
.links{
    text-align: center;
}
.links li{
    display: inline;
    text-decoration: none;   
    justify-content: center;
    align-items: center;  
    
}
.links h2{
    text-decoration: white;
}
.links img{
    width:10%;
    margin-inline: 40px;
    padding-right: 5px;
    padding-left: 5px;
}
@media screen and (max-width: 600px) {
    body{
        text-align: justify;
    }
    .container{
        width: 60%;
        padding: 56px 0;
        padding-bottom: 10px;
    }
    .container p{
        padding-bottom: 15px;
    }
    .col_dog img{
        width: 100%;
    }
    .produto figure{
        margin-top: 10px;
    }
    .links img{
        width:20%;
        margin-inline: 10px;
        padding-right: 5px;
        padding-left: 5px;
        border: 1px solid white;
        border-radius: 15px;
    }
}